
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>
        1、请注意，起始IP与结束IP不可为空，否则无法提交！2、起始IP必须小于等于结束IP。3、IP格式必须为点分IP地址。
    </h4>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary()

        <div class="form-group">
            代号:
            <input type="text" name="NickName" class="form-control search-query input-xxlarge" placeholder="测试" />
            起始IP:
            <input type="text" name="StartIP" class="form-control search-query input-xxlarge" placeholder="192.168.37.127" />
            终止IP:
            <input type="text" name="EndIP" class="form-control search-query input-xxlarge" placeholder="192.168.37.131" />

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="创建ShareURI" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回ShareURI列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!--[if !IE]> -->
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="/Scripts/jquery-1.11.3.min.js"></script>
<![endif]-->

<script type="text/javascript">
$(function () {
    $(".nav-list>li:eq(1)").addClass("active open").siblings().removeClass("active");
    $(".submenu:eq(0)>li:eq(2)").addClass("active").siblings().removeClass("active");
})
</script>
