<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net45" />
  <package id="jieba.NET" version="0.38.3" targetFramework="net45" />
  <package id="log4net" version="2.0.7" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="NPOI" version="2.2.1" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
</packages>