
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <h3>注意：Html解析规则为CSS选择器！！！Html链接无需加http://</h3>
        <div class="form-group">
            链接:
            <input type="text" name="LinkEdit" class="form-control search-query input-xxlarge" value="@ViewBag.Link" />
            解析规则:
            <input type="text" name="RulesEdit" class="form-control search-query input-xxlarge" value="@ViewBag.Rules" />

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="保存修改" class="btn btn-default" />
        </div>
    </div>
}


<!--[if !IE]> -->
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="/Scripts/jquery-1.11.3.min.js"></script>
<![endif]-->


<script type="text/javascript">
$(function () {
    $(".nav-list>li:eq(1)").addClass("active open").siblings().removeClass("active");
    $(".submenu:eq(0)>li:eq(5)").addClass("active").siblings().removeClass("active");
})
</script>


